In [3]:
from utils.model import Connection

## Creat a database connection

In [17]:
connection = Connection(
    user="airflow",
    host="postgres",
    password="airflow",
    port=5432,
    database="ecommerce"
)

### Create Customer Table

In [18]:
with connection.get_cursor() as cursor:
    try:
        cursor.execute("""
            CREATE TABLE IF NOT EXISTS Customers (
                customer_id VARCHAR(255) PRIMARY KEY, 
                customer_first_name VARCHAR(100),
                customer_last_name VARCHAR(100),
                customer_segment VARCHAR(200),
                customer_city VARCHAR(100),
                customer_state VARCHAR(100),
                customer_country VARCHAR(100),
                customer_region VARCHAR(100)    
                );
            """)
        print("Table created successfully.")
    except psycopg2.Error as e:
        print("Error:", e)

Table created successfully.

### Create Category Table

In [22]:
with connection.get_cursor() as cursor:
    try:
        cursor.execute("""
            CREATE TABLE IF NOT EXISTS Categories(
                category_id SERIAL PRIMARY KEY,
                category_name VARCHAR(200)
                );
    """)
        print("Table created successfully.")
    except psycopg2.Error as e:
        print("Error:", e)

Table created successfully.

### Create Product Table

In [25]:
with connection.get_cursor() as cursor:
    try:
        cursor.execute("""
            CREATE TABLE IF NOT EXISTS Products(
                product_id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
                product_name TEXT,
                category_id INT,
                FOREIGN KEY (category_id) REFERENCES Categories(category_id) 
                );
            """)
        print("Table created successfully.")
    except psycopg2.Error as e:
        print("Error:", e)

Table created successfully.

### Create Orders Table

In [28]:
with connection.get_cursor() as cursor:
    try:
        cursor.execute("""
        CREATE TABLE IF NOT EXISTS Orders(
            order_id VARCHAR(200) PRIMARY KEY,
            customer_id VARCHAR(200), 
            order_date DATE,
            delivery_status VARCHAR(100),
            shipping_type VARCHAR(100),
            ship_date DATE,
            days_for_shipment_scheduled INT,
            days_for_shipment_real INT,
            sales_per_order INT,  
            profit_per_order DOUBLE PRECISION,
            FOREIGN KEY (customer_id) REFERENCES Customers(customer_id)
            );
        """)
        print("Table created successfully.")
    except psycopg2.Error as e:
        print("Error:", e)

Table created successfully.

### Create Order Items Table

In [33]:
with connection.get_cursor() as cursor:
    try:
        cursor.execute("""
            CREATE TABLE IF NOT EXISTS Order_Items(
                order_item_id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
                order_id VARCHAR(200),
                product_id UUID REFERENCES products(product_id),
                order_item_discount INT,
                FOREIGN KEY (order_id) REFERENCES Orders(order_id),
                FOREIGN KEY (product_id) REFERENCES Products(product_id)
                );
            """)
        print("Table created successfully.")
    except psycopg2.Error as e:
        print("Error:", e)

Table created successfully.